<h3><%= @user.username %></h3>
<% if @follower %>
  <%= link_to 'Unfollow', user_follower_path(@user, @follower), method: :delete %>
<% else %>
  <% if current_user != @user %>
    <%= link_to 'Follow', user_followers_path(@user), method: :post %>
  <% end %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Followers</th>
      <th>Following</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <ul>
          <%= render partial: 'users/follower', collection: @followers%>
        </ul>
      </td>
      <td>
        <ul>
          <%= render partial: 'users/following', collection: @following%>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<h4></h4>



